/*Align image center of the div */
#img_home{ 
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}
/*Hoer the image the image expand */
#res:hover{
    transform:scale(1.3);
    z-index:2;
}
/*table block and margin */
.res{
    display: block;
    margin: 0 auto;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
/* align table in center of div */
table, th, td {
    align-content: center;
}
th, td {
    text-align: left;
    padding: 16px;
}
/* to make the table as strippped */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
      